
<h2>Add Article</h2></br>

<% if @article.errors.any? %>

	<p>Erros! Please Check...</p>
	<ul>
		<% @article.errors.full_messages.each do |msg|%>
			<li> <%= msg %> </li>
		<% end %>
	</ul>
<% end %>

<a href="/get_articles">View List</a>

</br>

<div id="errors" class="alert alert-danger" role="alert" style="display: none">
	<b>Errors Please Check!</b>
	<ul></ul>	
</div>
<div class="alert alert-success" role="alert" id="suc_msg" style="display: none">	
</div>

<form id="article_add_form">
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	
	<label>Title :</label></br></br>
	<input type="text" name="title" value="">
	
	</br></br>
	
	<label>Description: </label></br></br>
	<input type="text" name="description" value=""></br></br>

	<select name="categories[]" multiple>
		<option value="">Select Categories</option>
  		<% @categories.each_with_index do |c,i|%>
  			<option value="<%= c.id %>"><%= c.name %></option>
  		<% end%>
	</select>

	<a onclick="add_update_article(this);" class="btn btn-success text-white" form-id="article_add_form">Add</a>
	<!-- <input name="save" type="submit" value="Add" /> -->
</form>