<%= form_with(model: create_blog, local: true) do |form| %>
  <% if create_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(create_blog.errors.count, "error") %> prohibited this create_blog from being saved:</h2>

      <ul>
      <% create_blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
